.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.auth-form-container, .register-form {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth-form-container {
  width: 50%;
}

 .register{
  background-color: white;
  color: #3500A5;
  border-radius: 5px;
  padding: 10px;
  border-width: 0;
  font-weight: bold;
  position: fixed;
  right: 20px; /* Adjust the horizontal position as needed */
  transform: translateY(-50%);
 }

 @media screen and (min-width: 600px){
 .register-form {
  position: relative;
  align-items: center;
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px ;
}
}
input{
  height: 35px;
  width:200px;
  border-radius: 8px;
  border: 0;
}
label{
  color: white;
  font-weight: bold;
}  

  .form-container{
    position: relative;
    background: linear-gradient(rgba(38, 21, 90, 0.234), rgba(255, 255, 255, 0.592)), url('D:\ASU_ENG\Projects\AXA\InsuranceCompany\Frontend\insurance-frontend\public\handshake.jpg') center/cover no-repeat;    width: 100%;
    height: 100vh;
    }
  .register-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white; /* White overlay */
    opacity: 0.5; /* Adjust the opacity level as needed */
    z-index: -1; /* Place the overlay behind the content */
}
