.App {
  text-align: center;
}
body{
  background: url('D:\ASU_ENG\Projects\AXA\InsuranceCompany\Frontend\insurance-frontend\public\back.png')  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.auth-form-container, .register-form {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth-form-container {
  width: 50%;
}

 .register{
  background-color: white;
  color: rgb(18, 5, 87);
  border-radius: 5px;
  padding: 10px;
  border-width: 0;
  font-weight: bold;
  position: fixed;
  right: 20px; /* Adjust the horizontal position as needed */
  transform: translateY(-50%);
 }

 @media screen and (min-width: 600px){
 .register-form {
  position: relative;
  align-items: center;
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px ;
  justify-content: center;
}
}
.link-btn {
  position: relative;
  background-color: none;
  border-radius: 10px;
  color: black;
  text-decoration: underline; 
}

input{
  height: 35px;
  width:200px;
  border-radius: 8px;
  border: 0;
}
.register-form{
  color: white;
  font-weight: bold;
}  

  .form-container{
    position: relative;
    background: linear-gradient(rgba(38, 21, 90, 0.234), rgba(255, 255, 255, 0.592)), url('D:\ASU_ENG\Projects\AXA\InsuranceCompany\Frontend\insurance-frontend\public\handshake.jpg') center/cover no-repeat;    width: 100%;
    height: 100vh;
    }
  .register-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white; /* White overlay */
    opacity: 0.5; /* Adjust the opacity level as needed */
    z-index: -1; /* Place the overlay behind the content */
}

.submitBtn{
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  border-width: 0;
  font-weight: bold;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.sendBtn{
  margin-top: 5px;
  background-color: rgb(18, 5, 87);
  border-radius: 5px;
  padding: 10px;
  border-width: 0;
  color: white;
  font-weight: bold;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}


/* background: #3500A5; */
.barStyle{
  padding: 0 10px;     
}

/* .homePic{
  background:  url('D:\ASU_ENG\Projects\AXA\InsuranceCompany\Frontend\insurance-frontend\public\Picture1.png') center/cover no-repeat;    width: 100%;

} */

.homePic {
position: absolute;
width: 400px;
height: 437px;
left: 647px;
top: 115px;
margin-left: 22%;
}
.homeBackground{
  background:  url('D:\ASU_ENG\Projects\AXA\InsuranceCompany\Frontend\insurance-frontend\public\pic1.png') center/cover no-repeat; 
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
.homeContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50vh;
}
.home{
  margin: 35px;
  padding-top: 20px;
  position: relative; /* Position the content relative to the container */
  z-index: 1
}

.homeHeader{
  font-style: italic;
  color: white;
}

.homeParagraph{
  font-weight: 600;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 60%;
  color: white;
}
.contactScreen{
 display: flex;
 flex-direction: row;
 background-color: white;
}


.leftPane{
  background: linear-gradient(rgba(38, 21, 90, 0.234), rgba(255, 255, 255, 0.592)), url('D:\ASU_ENG\Projects\AXA\InsuranceCompany\Frontend\insurance-frontend\public\Background.png') center/cover no-repeat;    width: 50%;
  color: white;
  height: 700px;
  border-radius: 10px;
  margin: 5px;
}

.rightPane{
  color: 0F0C3A;
  font-weight: bold;
  margin-left: 5px;
  background:url('D:\ASU_ENG\Projects\AXA\InsuranceCompany\Frontend\insurance-frontend\public\Picture2.png') center/cover no-repeat;    width: 50%;
 
}

.contactHeader{
  margin: 20px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.rightHeader{
  margin-bottom: 20px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.companyMail{
  margin-top: 70px;
  margin-bottom: 25px;
  margin-left: 20px;
}
.companyMobile{
  margin-bottom: 25px;
  margin-left: 20px;
}
.location{
  margin-bottom: 25px;
  margin-left: 20px;
}

.input1, .input2{
  margin-left: 10px;
  height: 35px;
  width:150px;
  border-radius: 8px;
  border: 1px solid gray;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  
}

.lastName{
  margin-left: 50px;
}

.customerEmail, .number , .message{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.input3 , .input4{
  margin-top: 5px;
  height: 35px;
  width:250px;
  border-radius: 8px;
  border: 1px solid gray;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.input5{
  margin-top: 5px;
  height: 155px;
  width:500px;
  border-radius: 8px;
  border: 1px solid gray;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

